.principalContainer-Explorar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    margin: 30px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .header-date{
    font-size: 20px;
    margin-bottom: 20px;
}
.header .header-title{
    font-size: 30px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 100px;
    gap: 20px;
}
.footer p:nth-child(2){
    color: gray;
}
.footer p:nth-child(3){
    font-weight: 700;
    font-size: 18px;
}
.footer button{
    border: none;
    padding: 15px;
    border-radius: 50px;
}
.footer button:hover{
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}
.subtitle{
    font-size: 26px;
}
/* Categories */
.categoryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.displayCategories{
    width: 100%;
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}