.category{
    margin: 20px;
    background-color: black;
    border-radius: 31px;
    color: white;
    position: relative;
    width: 22vw;
    height: 32vh;
}
.category img{
    width: 22vw;
    height: 32vh;
    object-fit: cover;
    border-radius: 30px;
}
.category p{
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 10;
}
.category p:nth-child(2){
    bottom: 80px;
    font-size: 22px;
}
.category p:nth-child(3){
    bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}
.category img:hover{
    opacity: 0.8;
}